<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>University Registrar</title>
    </head>
    <body>
        <div class='container'>
            <div class='jumbotron'>
                <h1>University Registrar<h1>
            </div><br>
            <h3><a href='/students'>View all students and edit a student record</a></h3>
            <h3><a href='/courses'>View all courses and edit a course</a></h3>
        </div>
    </body>
</html>
