<html>
    <head>
        <title>University Registrar</title>
    </head>
    <body>
        <h1>Welcome to University Registrar</h1>
        <h3><a href='/students'>View all students and edit a student record</a></h3>
        <h3><a href='/courses'>View all courses and edit a course</a></h3>
    </body>
</html>
